<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Ashish's personal site</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <table>
    <thead>
      <tr>
        <td><img src="{{ url_for('static',filename='one.jpg')}}" alt="image of Ashishs" height="280" width="270"/></td>
        <td><h1>ARITRA SUR</h1>
          <h5>B.Tech(ECE) student of <a href="https://www.ticollege.ac.in/"><em>Techno Main Salt Lake.</em></em></a></h5>
        <p><em>Hi,I am <strong>Aritra,</strong>.</em>Trying to learn new things,have special intereste on AI realted things.I want to be <strong><em>Back-end-Developer</em></strong></p></td>
      </tr>
    </thead>
  </table>
  <hr />
  <h3>Education & Schooling</h3>
  <table>
    <thead style="color:#180A0A;">
      <tr>
        <th style="color:#FF6B6B;">Time</th>
        <th style="color:#FF6B6B">Place</th>
      </tr>
      <td>2006-2012</td>
      <td>St. Xavier's Institution</td>
      <tr>
        <td>2012-2017</td>
        <td>ICSE Exam Passed</td>
      </tr>
      <tr>
        <td>2019</td>
        <td>ISC Exam Passed</td>
      </tr>
      <tr>
        <td>2020-Onwards</td>
        <td>Doing B.Tech on ECE from Techno Main Salt Lake</td>
      </tr>
    </thead>
  </table>
  <hr>
  <h3><a href="Links.html">Hobbies</a></h3>
  <h4><a href="Table Elements.html">Contack Me</a></h4>
  <hr>

  <a href="https://www.flaticon.com/free-icons/mountain" title="mountain icons">Mountain icons created by Freepik - Flaticon</a>
  <img src="https://giphy.com/gifs/CapgeminiIndia-coding-techchallenge2020-techchallenge-u2pmTWUi0MXjyrMaVj" alt="">
</body>
</html>
